div.previewBox
	{
	border: 1px solid #000;
	background-color: #fff;
	}
div#preview-container
	{
	overflow: hidden;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	background-image: none;
	}
div#preview-container.loading
	{
	background-repeat: no-repeat;
	background-position: center;
	}
	
div.ui-ip hr
	{
	border: none;
	height: 1px;
	}