a
{
color:#636363;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:11px;
text-decoration:none;
}
a:visited { color: #636363; }
a:active { color: #636363; }
a:hover { color: #636363; }
.spacer
{
height:26px;
}
Body
{
Background-Color:#FFFFFF;
margin-left: 0;
margin-top: 0;
}
select 
{
color: black;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
line-height: 14px;
margin: 5px 5px 5px 5px;
}
.panelcontent input 
{
color: black;
font-size: 11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: normal;
line-height: 14px;
width: 110px;
margin: 5px 5px 5px 5px;
}
.LoginLeftPanelBG
{
Background-Color:#FFFFFF;
}
.LoginLeftPanelTitleText
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px;
padding-left: 10px
}
.LoginLeftPanelOptionText
{
color: #000000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 12px
}
.LoginSepLine
{
background-color: #999999
}
.LoginRightPanelBG
{
background-color: #ebebeb
}
.LoginRightPanelTitleText
{
color: #666;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.LoginRightPanelInstructionText
{
color: #666;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px
}
.LoginRightPanelFieldText
{
color: #666;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.LoginRightPanelErrorMessageText
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 12px
}
.SidePanel
{
background-color: #ebebeb
}
.SidePanelTitleBG
{
background-color: #ebebeb
}
.SidePanelTitleText
{
color: #000000;
font-size: 10px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SidePanelSubItemsText
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px
}
.SidePanelSectionTitleText
{
color: #999900;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SidePanelSelectedItemPointer
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.Lines
{
background-color: #999999
}
.TopLine
{
background-color: #999999
}
.TitleBarBG
{
background-color: #999999
}
.TabSelBarBG
{
background-color: #f9e37f
}
.TabBarBG
{
background-color: #666
}
.BigPageTitle
{
color: #666;
font-size: 18px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal
}
.MainText1
{
color: black;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px
}
.MainText2
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px
}
.MainText3
{
color: #ffffff;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.MainText4
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.MainText5
{
color: #ffffff;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.MainText6
{
color: #990000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.ItemPanelMainText3
{
color: #ffffff;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.ItemPanelEdges
{
background-color: #f9e37f
}
.ErrorMessage
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px
}
.PagingText1
{
color: #666;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.PagingText2
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.PagingText3
{
color: #999999;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.PagingItemCountText
{
color: #666;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px
}
.TableTitleText
{
color: white;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.TableTitleBG
{
background-color: #999999
}
.TableDataBG
{
background-color: #ebebeb
}
.TableDataText1
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.TableDataText2
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.TableDataText3
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.TableMessageText
{
color: black;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.CustomTable1TitleBG
{
background-color: #ebebeb
}
.CustomTable1TitleText
{
color: #ffffff;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.CustomTable1ItemTitle
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.CustomTable1ItemText
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.CustomTable1BG
{
background-color: #ebebeb
}
.ButtonNormalBG
{
background-color: #BCBCBC
}
.ButtonNormalText
{
color: #666666;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-style: normal;
font-weight: bold;
line-height: 12px;
text-decoration: none
}
.ButtonTableBG
{
background-color: #EBEBEB;
}
.ButtonTableText
{
color: #666666;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px;
text-decoration: none
}
.ButtonLoginBG
{
background-color: #666
}
.ButtonLoginText
{
color: #ffffff;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-style: normal;
font-weight: bold;
line-height: 12px;
text-decoration: none
}
.poweredbyActiBrand
{
color: #ffffff;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-style: italic;
font-weight: normal;
line-height: 14px
}
.DocumentsMessage
{
color: #990000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.DocumentsTitle
{
color: #990000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.DocumentsDescription
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.DocumentsDate
{
color: #000000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px
}
.OrderStepsArrows
{
color: #999999;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.OrderStepsActiveText
{
color: #990000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.OrderStepsDeactiveText
{
color: #999999;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.OrderStepsActiveBox
{
background-color: #990000
}
.OrderStepsDeactiveBox
{
background-color: #999999
}
.OrderStepsActiveBG
{
Background-Color:#FFFFFF;
}
.OrderStepsDeactiveBG
{
Background-Color:#FFFFFF;
}
.OrderOptionsText
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.OrderOptionsBG
{
background-color: #ebebeb
}
.TableMainColumnText
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.RecoveredOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.UnsubmittedOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SavedOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.RejectedByAuthoriserOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SubmittedOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.BeingAuthorisedOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SentForProductionOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.AcceptedForProductionOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.BeingProducedOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.CompletedOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.RejectedByProducerOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.ReadyToDownloadOrderFlash
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.HMO_StepTitle
{
color: #990000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.HMO_MainText
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.HMO_MainTextHighlighted
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.HMO_MainTextHighlighted2
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-style: italic;
font-weight: normal;
line-height: 14px
}
.OldNetscapeLoginButton
{
color: #ffffff;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.OldNetscapeNormalButton
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.OldNetscapeTableButton
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SunshineContentCell
{
padding-left: 10px;
padding-right: 10px;
}
.SunshineTabSpacing
{
background-image: url(/Looks/{bb370f66-b274-40c7-a41f-b627c1d136df}/Sunshine/TabSpace.gif);
width: 1px
}
.SunshineSidePanelGroup
{
padding-top: 0px;
width: 143px
}
.SunshinePanelSpace
{
display: ;
width: 0px;
BACKGROUND-COLOR: #FFFFFF;
}
.SunshineBannerButton
{
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
position: relative;
top: 67px;
}
.ThumbnailImage
{
border-width: 0;
}
.SunshineCrumb
{
color: #ffffff;
font-size: 0px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
padding-top: 0px
height:0px;
}
.SunshineBodyText1
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SunshineBodyText2
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
A .SunshineBodyText2
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px;
text-decoration: none
}
.SunshineBodyText3
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px
}
.SunshineBodyText4
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 12px
}
.SunshineBodyText4 A
{
color: #000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px
}
.SunshineRequiredBodyText4
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px
}
.SunshineRequiredBodyText4 A
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px
}
.SunshineBodyText
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px
}
.SunshineTab
{
background-image: url(/Looks/{bb370f66-b274-40c7-a41f-b627c1d136df}/Sunshine/Tab_Left.gif);
cursor: hand;
height: 41px;
}
.SunshineTabText
{
color: #ffffff;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
text-decoration: none
}
/*
.redbar
{
background-image: url(/Looks/{bb370f66-b274-40c7-a41f-b627c1d136df}/Sunshine/SelectedTab_Left.gif);
height:41px;
left:0px;
position:relative;
top:85px;
width:100%;
z-index:-10;
float:left;
}
*/
.SunshineTabSel
{
font-family: Verdana, Arial, Geneva, Sans-Serif;
background-image: url(/Looks/{bb370f66-b274-40c7-a41f-b627c1d136df}/Sunshine/SelectedTab_Left.gif);
height: 40px;
}
.SunshineTabTextSel
{
color: #FFFFFF;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
text-decoration: none
}
.SunshineTab2
{
font-family: Verdana, Arial, Geneva, Sans-Serif;
text-decoration: none;
cursor: hand;
padding-right: 5px;
padding-left: 5px;
height: 20px
}
.SunshineTabText2
{
color: #999999;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 11px;
text-decoration: none;
cursor: hand;
padding-right: 5px;
padding-left: 5px
}
.SunshineTabSel2
{
font-family: Verdana, Arial, Geneva, Sans-Serif;
cursor: hand;
padding-right: 5px;
padding-left: 5px;
height: 20px
}
.SunshineTabTextSel2
{
color: #800000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
text-decoration: none;
padding-right: 5px;
padding-left: 5px
}
.SunshinePanelTitle
{
background-color: #ffffff;
color:#900000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:14px;
text-decoration:none;
}
.SunshinePanelItemTitleSmall
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px;
text-decoration: underline;
cursor: hand
}
.SunshinePanelItemTitleSmallNoLink
{
color: black;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px;
text-decoration: none
}
.SunshinePanelItemMoreSmall
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px;
text-decoration: underline;
cursor: hand
}
.SunshinePanelTitleBar
{
background-color: #ffffff
}
.SunshinePanelSubTitleBar
{
background-color: #900000;
height: 1px;
margin:0px 5px;
}
.SunshinePanelSubTitleBarShadow
{
background-color: #FFFFFF
}
.SunshinePanelItemTitle
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px;
text-decoration: underline;
cursor: hand
}
.SunshinePanelItemTitleNoLink
{
color: #000000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px;
text-decoration: none
}
.SunshinePanelItemDescription
{
color: #000000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px;
text-decoration: none;
cursor: hand
}
.SunshinePanelContent
{
background-color:#dfb8bf;
}
.SunshinePanelFooterBar
{
background-color: #FFFFFF
}
.SunshineDetailPanelTitle
{
color: #ffffff;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.SunshineDetailPanelMore
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px;
text-decoration: underline;
cursor: hand
}
.SunshineDetailPanelTitleBar
{
background-color: #999999;
height: 20px
}
.SunshineFeaturePanelTitle
{
color: #ffffff;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.SunshineFeaturePanelMore
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px;
text-decoration: underline;
cursor: hand
}
.SunshineFeaturePanelTitleBarGrey
{
background-color: #999999;
height: 25px
}
.SunshineFeaturePanelTitleBar
{
background-color: #999999;
height: 25px
}
.SunshineOrderPanelTitle
{
color: #ffffff;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.SunshineOrderPanelMore
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px;
text-decoration: underline;
cursor: hand
}
.SunshineOrderPanelTitleBar
{
background-color: #999999
}
.SunshineTitleText
{
color: #800000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
padding-top: 5px
}
.SunshineTitleTextGrey
{
color: #999999;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif
}
.SunshineStepText
{
color: #990000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif
}
.SunshineStepTextGrey
{
color: #999999;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif
}
.SunshineMenuBottomPanel
{
background-image: url(/Looks/{bb370f66-b274-40c7-a41f-b627c1d136df}/Sunshine/TabBottomGrad.gif);
height: 30px
}
.SunshineLinkText
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px;
text-decoration: underline
}
.SunshineButtonLinkText
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 12px;
text-decoration: underline
}
.SunshineBigLinkText
{
color: #990000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px;
text-decoration: underline
}
.SunshineFilterBG
{
background-color: #ebebeb
}
.SunshineFilterSelectedItem
{
color: #ffffff;
background-color: #999999
}
.SunshineSummaryTableDataBG
{
background-color: #ebebeb
}
.SunshineSummaryTableDataBGAlt
{
background-color: #ebebeb
}
.SunshineSummaryTableDataText1
{
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
background-color: #ebebeb;
height: 30px
}
.SunshineSummaryTableDataText1Alt
{
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
background-color: #ebebeb;
height: 30px
}
.SunshineSummaryTableSubTitleBG
{
background-color: #ebebeb;
height: 2px
}
.SunshineTable
{
}
.SunshineTableTitleColSep
{
background-color: #999999;
padding-left: 0;
width: 1px
}
.SunshineTableColSep
{
width: 1px;
background-color: #ffffff;
padding-left: 0px;
}
.SunshineTableColSepAlt
{
background-color: #ebebeb;
padding-left: 0;
width: 1px
}
.SunshineTableRowSeparator
{
display: none;
}
.SunshineTableDataBG
{
BACKGROUND-COLOR: #ffffff
}
.SunshineTableDataBGAlt
{
background-color: #ebebeb
}
.SunshineTableDataText1
{
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
background-color: #ffffff
}
.SunshineTableDataText1Alt
{
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
background-color: #ebebeb
}
.SunshineTableDataText1Middle
{
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
background-color: #ffffff;
TEXT-ALIGN:center;
}
.SunshineTableDataText1AltMiddle
{
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
background-color: #ebebeb;
TEXT-ALIGN:center;
}
.SunshineTableDataHighlight
{
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px;
background-color: #f9e37f
}
.SunshineTableMessageText
{
color: #000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px
}
.SunshineTableTitleText
{
color: #ffffff;
font-size: 11px;
font-family: Verdana, Verdana, Arial, Geneva, Sans-Serif, Geneva, Sans-Serif;
line-height: 14px;
text-decoration: none;
background-color: #999999;
height: 20px
}
.SunshineTableNumberTitleText
{
color: #666;
font-size: 11px;
font-family: Verdana, Verdana, Arial, Geneva, Sans-Serif, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px;
text-decoration: none;
background-color: #999999;
height: 20px
}
.SunshineTableSubTitleBG
{
background-color: #666;
height: 2px
}
.SunshineTableMainColumnText
{
}
.SunshineTableDate
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SunshineTableText
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SunshineTableOutputType
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.SunshineTableOffering
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SunshineLeftMarginCell
{
WIDTH: 1px
}
.SunshineRightMarginCell
{
WIDTH: 90px
}
.SunshineSpacerCell
{
WIDTH: 10px
}
.SunshineBoxNormal
{
background-color: #ebebeb
}
.SunshineBoxTitle
{
color: #990000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.SunshineBoxText0
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: normal;
line-height: 14px
}
.SunshineBoxText1
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 14px
}
.SunshineBoxHighlight
{
background-color: gray;
}
.SunshineOfferingPropertyBackground
{
background-color: #ebebeb
}
.SunshineSubTitle
{
color: #666;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold
}
.SunshineOfferingLink
{
color: #990000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 12px;
text-decoration: underline;
cursor: hand
}
.SunshineOfferingTitleLink
{
color: #990000;
font-size: 14px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
text-decoration: underline;
cursor: hand
}
.SunshineOfferingTypeSmall
{
color: #ffffff;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px;
cursor: hand
}
.SunshineOfferingDesc
{
color: #000000;
font-size: 11px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
line-height: 14px
}
.PriceTableRowBG
{
background-color: #ebebeb
}
.SunshineOfferingMessageSmall
{
color: #000;
font-size: 9px;
font-family: Verdana, Arial, Geneva, Sans-Serif;
font-weight: bold;
line-height: 12px;
cursor: hand
}
.SunshineCrumbSunshineBoxHighlight
{
}

td { text-align: left; }
table.centered, td.centered
{
	text-align: center;
	vertical-align: middle;
}

table.MasterTable {
border: none;
height: 100%;
width: 100%;
}
table td {
padding: 0;
margin: 0;
}